:root {
  --white: #fff;
  --black: #000;
  --dark-slate-green: #2f4f4f;
  --light-neutral: #d8d7d7;
  --dark-neutral: #8d8c8c;
  --dark-green: #04160b;
  --deep-red: #4d2a2a;
  --dark-red: #2e1919;
  --heading-margin-bottom: 5px;
  --page-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  font-family: var(--page-font);
}

/* Elements */

body {
  font-family: var(--page-font);
  margin: 0;
  background-color: var(--dark-neutral);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 1280px;
}

/* Timer and Progress Section */

.timer-progress-container {
display: flex;
justify-content: space-evenly;
flex-wrap: nowrap;
}

#myProgress {
  width: 100%;
  background-color: transparent;
}

#myBar {
  width: 05%;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: #04AA6D;
}

<style>div {
  width: 100px;
  height: 100px;
  background-color: red;

}

/* Avengers Photo */

.avengersPic {
  width:85%;
}


/* Quiz Section */

.outside-container {
/* max-width:800px; */
width: 500px;
border-radius: 25px;
border: 2px solid var(--dark-green);
margin: 0 auto;
background-color: var(--light-neutral);
padding: 20px;
margin-top: 3rem;
box-shadow: 0 8px 12px 0 var(--dark-green);
text-align: center;
}

.quiz-title {
margin: 0 auto;
text-align: center;
}

.hidden {
display: none;
}

.button {
background-color: var(--dark-slate-green);
color: var(--light-neutral);
font-weight: 700;
padding:10px;
margin: 5px;
border-radius: 25px;
min-width: 80px;
width:90%
}

.button:hover {
background-color: var(--dark-green);
transform: scale(1.1);
}

.bottom-button-container {
display: flex;
justify-content: center;
border: 3px solid var(--dark-green);
/* border-top: 3px solid var(--dark-green);
border-bottom: 3px solid var(--dark-green); */
border-radius: 25px;
margin-top: 20px;
}

.start-button {
padding-left: 30px;
padding-right: 30px;
background-color: var(--deep-red);
}

.start-button:hover {
background-color: var(--dark-red);
}

#question {
padding: 5px 0 10px 0;
font-size: 1.35rem;
font-weight: 700;
}

#answer-button-container {
/* border-top: 3px solid var(--dark-green);
border-bottom: 3px solid var(--dark-green); */
border-radius: 25px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-content: space-around;
flex-wrap: wrap;
}

.next-button {

}

.answer-containerv{

}

#question-container {

}

.choices {

}

#next-button {

}

#start-button {

}
